pre > span {
    font-size: 12px;
}

.prose code {
    background-color: rgba(0, 0, 0, 0.07);
    padding: 0 3px;
    border-radius: 2px;
}

.prose code:after, 
.prose code:before {
    content: "" !important;
}

.zine-topic .\!text-main {
    color: #000 !important;
    font-size: 12px;
}

.zine-header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-color: rgba(0, 0, 0, 0) !important;
}

.footer {
    height: 50px;
    text-align: center;
}

.footer a {
    text-align: center;
    color: #0c9cf8;
    font-size: 12px;
    font-weight: bold;
}

.footer a:hover {
    color: #91cef4;
}

.footer svg {
    display: inline;
}

.relative > a {
    font-size: 12px;
    color: #999;
    opacity: 1;
    font-weight: normal;
}

.zine-cover img {
    height: 200px;
}

.zine-card-date {
    font-size: 12px !important;
    color: #999 !important;
    line-height: 0 !important;
}

#toped {
    position: fixed;
    bottom: 40px;
    right: 20px;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

#toped:hover {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}

button, .hover {
    cursor: pointer;
    outline: none;
    -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: #ccc;
    border-radius: 2.5px;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-button:hover {
    background: #999;
}

::-webkit-scrollbar-thumb {
    border-radius: 2.5px;
    background: #0c9cf8;
}