.prose blockquote code {
    background-color: rgba(0, 0, 0, 0.07);
    padding: 0 3px;
    border-radius: 2px;
}

.prose  blockquote code:after, 
.prose blockquote code:before {
    content: "";
}

.zine-topic .\!text-main {
    color: #000 !important;
    font-size: 12px;
}

.zine-header {
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    height: 50px;
    text-align: center;
}

.footer a {
    text-align: center;
    color: #0c9cf8;
    font-size: 12px;
    font-weight: bold;
}

.footer a:hover {
    color: #91cef4;
}

.footer svg {
    display: inline;
}

.relative > a {
    font-size: 12px;
    color: #999;
    opacity: 1;
    font-weight: normal;
}
