pre > span {
    font-size: 12px;
}

.prose code {
    background-color: rgba(0, 0, 0, 0.07);
    padding: 0 3px;
    border-radius: 2px;
}

.prose code:after, 
.prose code:before {
    content: "" !important;
}

.zine-topic .\!text-main {
    color: #000 !important;
    font-size: 12px;
}

.zine-header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-color: rgba(0, 0, 0, 0) !important;
}

.footer {
    height: 50px;
    text-align: center;
}

.footer a {
    text-align: center;
    color: #0c9cf8;
    font-size: 12px;
    font-weight: bold;
}

.footer a:hover {
    color: #91cef4;
}

.footer svg {
    display: inline;
}

.relative > a {
    font-size: 12px;
    color: #999;
    opacity: 1;
    font-weight: normal;
}

.zine-cover img {
    height: 200px;
}

.zine-card-date {
    font-size: 12px !important;
    color: #999 !important;
    line-height: 0 !important;
}

#toped {
    position: fixed;
    bottom: 40px;
    right: 20px;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

#toped:hover {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}

button, .hover {
    cursor: pointer;
    outline: none;
    -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: #ccc;
    border-radius: 2.5px;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-button:hover {
    background: #999;
}

::-webkit-scrollbar-thumb {
    border-radius: 2.5px;
    background: #0c9cf8;
}

.i-header * {
    font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.i-header {
    background-color: #ffffffcc;
    border-bottom: 1px solid #8882;
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    backdrop-filter: blur(32px);
    transition: height 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    text-align: left;
}

.i-header .inner {
    display: flex;
}

.i-header .title {
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 3.5rem;
    color: #333333;
}

.i-header .nav-items {
    flex: 6 auto;
    text-align: right;
}

.i-header .nav-item {
    display: inline-block;
    text-align: center;
    flex: 1;
    font-size: 16px;
    line-height: 3.5rem;
    padding: 0 16px;
    transition: padding 0.2s, color 0.5s;
    color: #666666;
    font-weight: normal;
}

.i-header .nav-item img {
    position: relative;
    top: 0.5rem;
}

main .sticky {
    top: 14.5rem;
}