<link rel="stylesheet" href="/static/theme.css">
<nav class="i-header">
    <div class="inner mx-auto sm:max-w-scree-md md:max-w-screen-lg">
        <a class="title" href="/">Blog</a>
        <div class="nav-items">
            <a class="nav-item" href="https://github.com/mycrl?tab=repositories">Projects</a>
            <a class="nav-item" href="https://github.com/mycrl">About</a>
            <a class="nav-item" href="https://github.com/mycrl" style="padding: 0 5px;">
                <img src="/static/github.svg" style="width: 1.7rem"/>
            </a>
            <a class="nav-item" href="https://t.me/Mycrl" style="padding: 0 5px;">
                <img src="/static/telegram.svg" style="width: 1.5rem; top: 0.4rem;"/>
            </a>
            <a class="nav-item" href="mailto: xivistudios@gmail.com" style="padding: 0 5px;">
                <img src="/static/email.svg" style="width: 1.7rem"/>
            </a>
        </div>
    </div>
</nav>